.landing {
    /* background: url("../../assets/images/bg/home-2.jpg"); */
    background: #282828;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h3 {
    color: #ffffff;
    padding-top: 7%;
    text-align: center;
}